<div class="minibar-graphic">
  <div class="vocals-bar">{{minibar 6}}</div>
  <div class="songwriting-bar">{{minibar 5}}</div>
  <div class="musicianship-bar">{{minibar 7}}</div>
  <div class="creativity-bar">{{minibar 3}}</div>
  <div class="production-bar">{{minibar 8}}</div>
  <div class="overall-bar">{{minibar 5}}</div>
</div>