<div class="rating-chart">
  <div class="chart-title">Ratings ({{reviewCount}})</div>
  <div class="graph vocals-line">{{bargraph vocals}}</div>
  <div class="graph songwriting-line">{{bargraph songwriting}}</div>
  <div class="graph musicianship-line">{{bargraph musicianship}}</div>
  <div class="graph creativity-line">{{bargraph creativity}}</div>
  <div class="graph production-line">{{bargraph production}}</div>
  <div class="graph overall-line">{{bargraph overall}}</div>
</div> 

<div class="bar-label">
  <div class="bar-name">Vocals</div>
  <div class="bar-value">{{rounded vocals}}</div>
</div>
<div class="bar-label">
  <div class="bar-name">Songwriting</div>
  <div class="bar-value">{{rounded songwriting}}</div>
</div>
<div class="bar-label">
  <div class="bar-name">Musicianship</div>
  <div class="bar-value">{{rounded musicianship}}</div>
</div>
<div class="bar-label">
  <div class="bar-name">Creativity</div>
  <div class="bar-value">{{rounded creativity}}</div>
</div>
<div class="bar-label">
  <div class="bar-name">Production</div>
  <div class="bar-value">{{rounded production}}</div>
</div>
<div class="bar-label">
  <div class="bar-name">Overall</div>
  <div class="bar-value">{{rounded overall}}</div>
</div>