<div class="rating-chart">
  <div class="chart-title">Average Ratings</div>
  <div class="bar-label">Overall</div>
  <div class="graph overall-line">{{bargraph overall}}<div class="bar-value">{{overall}}</div></div>
  <div class="bar-label">Vocals</div>
  <div class="graph vocals-line">{{bargraph vocals}}<div class="bar-value">{{vocals}}</div></div>
  <div class="bar-label">Songwriting</div>
  <div class="graph songwriting-line">{{bargraph songwriting}}<div class="bar-value">{{songwriting}}</div></div>
  <div class="bar-label">Musicianship</div>
  <div class="graph musicianship-line">{{bargraph musicianship}}<div class="bar-value">{{musicianship}}</div></div>
  <div class="bar-label">Creativity</div>
  <div class="graph creativity-line">{{bargraph creativity}}<div class="bar-value">{{creativity}}</div></div>
  <div class="bar-label">Production</div>
  <div class="graph production-line">{{bargraph production}}<div class="bar-value">{{production}}</div></div>
</div> 