<div class="signup-page">
  <h2>Sign Up</h2>
  <form class="form-horizontal">
    <div class="control-group first-name-signup-group">
      <label class="control-label">First Name</label>
      <div class="controls">{{view Ember.TextField valueBinding="firstName" required="true"}}</div>
    </div>
    <div class="control-group last-name-signup-group">
      <label class="control-label">Last Name</label>
      <div class="controls">{{view Ember.TextField valueBinding="lastName" required="true"}}</div>
    </div>

    <div class="control-group email-signup-group">
      <label class="control-label">Email Address</label>
      <div class="controls">
        {{view Ember.TextField valueBinding="email" type="email" required="true"}}
        <span class="help-inline">Email is already taken</span>
      </div>
    </div>
    <div class="control-group password-signup-group">
      <label class="control-label">Password</label>
      <div class="controls">{{view Ember.TextField valueBinding="password" type="password" required="true"}}</div>
    </div>    
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          {{view Ember.Checkbox checkedBinding="agreeToTerms"}} I agree to the <a href="/terms.html" target="_blank">terms of use</a>
        </label>
        <button type="submit" class="btn"  {{bindAttr disabled="hasNotAgreed"}} {{action "trySignup"}}>Sign Up</button>
      </div>
    </div>
    <div class="control-group">
      <div class="controls"><p>Already registered? {{#linkTo 'login'}}Sign In{{/linkTo}}</p></div>
    </div>
  </form>
</div>