{{#with controller.content}}
  <div class="row-fluid">
    {{#view SF.SongPagePlayView contentBinding="this"}}
    <div class="sf-play song-page-play pull-left"><i class="icon-play icon-white"></i></div>
    {{/view}}
    <h3 class="song-page-title no-bottom-margin">{{name}} <small>{{artist}}</small></h3>
    <p class="song-page-description thin-text">{{description}}</p>
  </div>
  <div class="row-fluid">
    <div class="span6 charts"> 
      {{#if reviews}}
      <div class="chart-container-full hidden-desktop">
        {{partial "bar-graph"}}
      </div>
      <div class="chart-container visible-desktop">
        {{partial "bar-graph"}}
      </div>
      {{#view SF.PieView}}
        <div class="pie-container">
          <div id="balance-pie" class="balance-pie"></div> 
        </div> 
      {{/view}}
      {{/if}}
    </div>
    <div class="span6 comments">
      <h3>Comments</h3>
      {{#each comment in comments}}
        <blockquote>  
          <p>{{comment.message}}</p>
          <small>{{comment.user.fullName}}, {{fromnow comment.date}}</small>
        </blockquote>
      {{/each}}
      <div class="span12">
        {{view Ember.TextArea valueBinding="controller.inlineComment" placeholder="Add a comment"}}
      </div>
      <div class="span12">
        <button type="submit" class="btn" {{action "comment"}}>Comment</button>
      </div>
    </div>
  </div>
{{/with}}