<div class="upload-page">
  <form class="form-horizontal">
    <h2>Upload</h2>
    {{#if SF.loginController.canUpload}}
      <div class="control-group song-name-group">
        <label class="control-label">Song Name</label>
        <div class="controls">{{view Ember.TextField valueBinding="name"}}</div>
      </div>
      <div class="control-group artist-name-group">
        <label class="control-label">Artist Name</label>
        <div class="controls">{{view Ember.TextField valueBinding="artist"}}</div>
      </div>
      {{#view SF.AudioFileView contentBinding="this"}}
      <div class="control-group upload-file-group">
        <label class="control-label">Audio File</label>
        <div class="controls">
          <div class="fileupload fileupload-new pull-left" data-provides="fileupload">
            <span class="btn btn-file btn-primary">
              <span class="fileupload-new">Upload Track</span>
              <input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>
            </span>
            <span class="fileupload-preview"></span>
          </div>
          
        </div>
      </div>
      {{/view}}
      <div class="control-group">
        <div class="controls">
          <div id="progress" class="progress progress-striped active" style="width: 220px; margin-bottom: 0">
            <div class="bar" style="width: 0%;"></div>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Description</label>
        <div class="controls">{{view Ember.TextArea valueBinding="description"}}</div>
      </div>
      <div class="control-group genre-select-group">
        <label class="control-label">Genre</label>
        <div class="controls">{{view Ember.Select contentBinding="SF.genres" valueBinding="genre"}}</div>
      </div>    
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            {{view Ember.Checkbox checkedBinding="agreeToTerms"}} I agree to the <a href="/terms.html" target="_blank">terms of use</a>
          </label>
          <button type="submit" class="btn"  {{bindAttr disabled="hasNotAgreed"}} {{action "submit"}}>Upload</button>
        </div>
      </div>
    {{else}}
      <div class="not-allowed-messaging">You must give feedback to receive feedback, young grasshopper. Give  <strong>{{SF.loginController.reviewsLeftBeforeUpload}}</strong> more songs feedback before you can upload your own.</div>
    {{/if}}  
  </form>
</div>